In [134]:
import numpy as np 
import pandas as pd 
import os
os.getcwd()

'd:\\ML'

In [135]:
import pandas as pd
df = pd.read_excel(r"D:\ML\emg_dataset.xlsx")
df

      emg1  emg2  emg3  emg4  emg5       output
0      152   152   150   150   150     allclose
1      148   148   146   146   144     allclose
2      142   140   140   138   136     allclose
3      136   136   134   132   132     allclose
4      128   128   128   128   128     allclose
...    ...   ...   ...   ...   ...          ...
2994    24    24    24    24    24  pinky_close
2995    24    24    24    24    24  pinky_close
2996    24    24    24    24    24  pinky_close
2997    24    24    24    24    24  pinky_close
2998    24    24    24    24    24  pinky_close

[2999 rows x 6 columns]

In [136]:
import matplotlib.pyplot as plt
%matplotlib inline

In [137]:
df.head()

   emg1  emg2  emg3  emg4  emg5    output
0   152   152   150   150   150  allclose
1   148   148   146   146   144  allclose
2   142   140   140   138   136  allclose
3   136   136   134   132   132  allclose
4   128   128   128   128   128  allclose

In [138]:
df.shape

(2999, 6)

In [139]:
df.columns

Index(['emg1', 'emg2', 'emg3', 'emg4', 'emg5', 'output'], dtype='object')

In [140]:
df['output'].unique()

array(['allclose', 'allopen', 'index_close', 'middle_close', 'ring_close',
       'pinky_close'], dtype=object)

In [141]:
df['output'].value_counts()

output
allclose        500
allopen         500
index_close     500
middle_close    500
pinky_close     500
ring_close      499
Name: count, dtype: int64

In [142]:
df.isnull().sum()

emg1      0
emg2      0
emg3      0
emg4      0
emg5      0
output    0
dtype: int64

In [143]:
target=df['output']
target

0          allclose
1          allclose
2          allclose
3          allclose
4          allclose
           ...
2994    pinky_close
2995    pinky_close
2996    pinky_close
2997    pinky_close
2998    pinky_close
Name: output, Length: 2999, dtype: object

In [144]:
inputs=df.drop('output',axis='columns')
inputs

      emg1  emg2  emg3  emg4  emg5
0      152   152   150   150   150
1      148   148   146   146   144
2      142   140   140   138   136
3      136   136   134   132   132
4      128   128   128   128   128
...    ...   ...   ...   ...   ...
2994    24    24    24    24    24
2995    24    24    24    24    24
2996    24    24    24    24    24
2997    24    24    24    24    24
2998    24    24    24    24    24

[2999 rows x 5 columns]

In [145]:
from sklearn.preprocessing import LabelEncoder
le_emg1=LabelEncoder()
le_emg2=LabelEncoder()
le_emg3=LabelEncoder()
le_emg4=LabelEncoder()
le_emg5=LabelEncoder()

In [146]:
inputs['emg1_n']=le_emg1.fit_transform(inputs['emg1'])
inputs['emg2_n']=le_emg2.fit_transform(inputs['emg2'])
inputs['emg3_n']=le_emg3.fit_transform(inputs['emg3'])
inputs['emg4_n']=le_emg4.fit_transform(inputs['emg4'])
inputs['emg5_n']=le_emg5.fit_transform(inputs['emg5'])
inputs

      emg1  emg2  emg3  emg4  emg5  emg1_n  emg2_n  emg3_n  emg4_n  emg5_n
0      152   152   150   150   150      71      71      71      71      70
1      148   148   146   146   144      70      70      70      70      69
2      142   140   140   138   136      68      67      67      66      65
3      136   136   134   132   132      65      65      64      63      63
4      128   128   128   128   128      61      61      61      61      61
...    ...   ...   ...   ...   ...     ...     ...     ...     ...     ...
2994    24    24    24    24    24       9       9       9       9       9
2995    24    24    24    24    24       9       9       9       9       9
2996    24    24    24    24    24       9       9       9       9       9
2997    24    24    24    24    24       9       9       9       9       9
2998    24    24    24    24    24       9       9       9       9       9

[2999 rows x 10 columns]

In [147]:
inputs_n=inputs.drop(['emg1','emg2','emg3','emg4','emg5'],axis='columns')
inputs_n

      emg1_n  emg2_n  emg3_n  emg4_n  emg5_n
0         71      71      71      71      70
1         70      70      70      70      69
2         68      67      67      66      65
3         65      65      64      63      63
4         61      61      61      61      61
...      ...     ...     ...     ...     ...
2994       9       9       9       9       9
2995       9       9       9       9       9
2996       9       9       9       9       9
2997       9       9       9       9       9
2998       9       9       9       9       9

[2999 rows x 5 columns]

In [148]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [149]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [150]:
model.score(inputs_n,target)

0.6998999666555519

In [152]:
model.predict([[71,71,71,71,70]])

c:\Users\sreya\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['allclose'], dtype=object)

In [153]:
model.predict([[9,9,9,9,9]])

c:\Users\sreya\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['index_close'], dtype=object)